:root {
  --bg: #F7F3EB;
  --white: #FFFFFF;
  --green: #0A7B83;
  --orange: #EA8B41;
  --text: #1F2A2E;
  --text-light: #4F5B60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--bg);
}

/* HEADER */
header {
  background: var(--green);
  padding: 16px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header h1 {
  font-size: 26px;
  font-weight: 700;
}

/* EFEITO HOVER EM "Voltar à Home" */
header a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color .2s ease, transform .2s ease;
}

header a:hover {
  color: var(--orange);
  transform: scale(1.07);
}

/* LINHA ANIMADA EMBAIXO */
header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* AJUSTE IMPORTANTE */
  width: 0%;
  height: 3px;
  background: var(--orange);
  border-radius: 4px;
  transition: width .2s ease;
}

/* expande */
header a:hover::after {
  width: 100%;
}

/* CARD CENTRAL */
.container {
  max-width: 420px;
  margin: 50px auto;
  background: var(--white);
  padding: 30px 32px;
  border-radius: 18px;
  box-shadow: 0px 4px 22px rgba(0,0,0,0.08);
  text-align: center;
}

.container h2 {
  font-size: 32px;
  color: var(--green);
  font-weight: 700;
  margin-bottom: 30px;
}

/* FORM */
form {
  text-align: left;
}

label {
  font-size: 15px;
  font-weight: 600;
  color: var(--text);
}

input {
  width: 100%;
  padding: 14px;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  margin: 8px 0 18px;
  font-size: 16px;
}

/* BOTÃO LOGIN */
.btn-login {
  width: 100%;
  background: var(--green);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

/* Esqueci minha senha */
.forgot {
  display: block;
  text-align: center;
  margin-top: 14px;
  font-size: 15px;
  color: var(--green);
  text-decoration: none;
}

/* DIVISOR */
.divider {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin: 24px 0;
}

/* TEXTO MENOR */
.txt-small {
  text-align: center;
  font-size: 15px;
  margin-bottom: 12px;
  color: var(--text-light);
}

/* BOTÃO CRIAR CONTA */
.btn-criar {
  width: 100%;
  display: block;
  text-align: center;
  background: var(--orange);
  color: white;
  padding: 14px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  font-size: 14px;
  margin: 20px 0px;
  color: var(--text-light);
}
